body, h1, div, p{
    margin: 0;
    padding: 0;
}
#body {
    /* background-color: #95EB00; */
    /* background-color: #EBEACC; */
    background-color: rgb(67, 66, 66);
    color: white;
}
#name {
    font-size: 100px;
    padding: 125px;
    text-align: center;
    /* color: #85CC54; */
    color: white;
    /* color: #95EB00; */
}
#description {
    font-weight: bold;
    background-color: #DBEAC8;
    color: #79CD98;
    margin-left: .5in;
    margin-right: .5in;
    padding: 22px;
}
#header{
    display: flex;
    flex-direction: row;
}
#header ul li{
    display: inline-block;
    flex-direction: row;
    padding: 10px 1rem;
    background-color: rgba(128, 128, 128, 0.521);
    margin-left: .5rem;
}
#name-box{
    height: 500px;
    margin: 0;
    background-color: rgba(118, 118, 118, 0.29);
    width: 100%;
}
#filler{
    height: 400px;
}
#subheading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}