#body {
    /* background-color: #95EB00; */
    background-color: #EBEACC;
    margin: 0,0,0,0;
}
#name {
    font-size: 100px;
    text-align: center;
    color: #85CC54;
    /* color: #95EB00; */
}
#description {
    font-weight: bold;
    background-color: #DBEAC8;
    color: #79CD98;
    margin-left: .5in;
    margin-right: .5in;
    padding: 22px;
}
#header{
    display: flex;
}
#header ul{
    display: inline-block;
}
