#start-button {
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2rem;
}

.fake-button, .real-button {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 10px;
    cursor: pointer;
}
.real-button {
    /* background-color: green; */
    font-family: Arial, Helvetica, sans-serif;
}

.retry-button{
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 255, 174);
}

#difficulty-display{
    font-weight: bold;
}

