html{
    background-color: rgb(33, 33, 33);
    color: white;
}
h1{
    font-size: 4em;
    margin-bottom: .5em;
}
h3{
    font-size: 1.75em;
}
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 20px;
    /* background-color: #B4F8C8; */
}
#choices p {
    color: hsl(0, 0%, 5%);
    display: block;
    border-radius: 25px;
    background-color: hsl(0, 0%, 95%);
    font-size: 1.5em;
    padding: 20px 20px;
    font-weight: bold;
    /* padding: 1.2em; */
    /* width: 25%; */
}
#choices {
    align-items: center; /* This is added to center horizontally */
    margin-left: 50%;
    transform: translatex(-50%);
    width: 33%;
    text-align: center;
}
#choices p:hover{
    /* background-color: hsl(171, 100%, 90%);
     */
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;
}
/* .correct-choice{
    background-color: green;
} */
.number-display{
    /* visibility: hidden; */
    /* color: red; */
    margin: 20px;
    font-size: 30em;
}